*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

google-services.json

app/debug/output-metadata.json

app/debug/app-debug.apk
/weather-app-351108-d1755bdaf479.json
